* {
    box-sizing: border-box;
}

:root {
    --bg-color: #001727;
    --text-color: #fff;
    
    /* Border */
    --border-color: rgba(255, 255, 255, .3);
    --border-radius: 1rem;
    --border-width: .0625rem;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0px 20px;
}

.main-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.history-container {
    height: 100%;
    overflow-y: scroll;
    width: 40%;
}

.history-h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.history-round-container {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.history-round-container span {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    padding: 10px 20px;
}

.dice-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container-dice {
    padding: 20px;
}

.dice-game-btn {
    background: none;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 1rem 2rem;
    text-transform: capitalize;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 10px;
}

.dice-container {
    width: 37.5rem;
    height: 12.5rem;
    display: flex;
    gap: 1.25rem;
}

.dice-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
}