* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-color: #001727;
    --text-color: #fff;
    
    /* Border */
    --border-color: rgba(255, 255, 255, .3);
    --border-radius: .7rem;
    --border-width: .0625rem;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0px 20px;
}

main {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.player-register-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem    ;
}

.player-register-form input,
.player-register-form button {
    width: 100%;
    padding: 10px;
    background: none;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    color: var(--text-color);
}

.player-register-form button {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .07rem;
}

.game-container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.player-container {
    width: 50%;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px;
}

.player-info-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-info-container h1 {
    margin: 0;
}

.dice-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.dice {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-size: 1.2rem;
}